/* Login.css */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff; /* Açık bir arka plan rengi */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 28px; /* Başlık boyutu */
    color: #333; /* Başlık rengi */
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px; /* Bileşenler arasındaki boşluklar */
}

.form-group label {
    font-size: 14px;
    color: #666; /* Etiket rengi */
    display: block;
    margin-bottom: 8px; /* Etiket ile input arasındaki boşluk */
}

.form-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px; /* Input köşe yuvarlama */
    background-color: #f9f9f9; /* Input arka plan rengi */
    box-sizing: border-box; /* Border ve padding'in genişlik hesaplamasına dahil edilmesi */
    transition: border-color 0.3s ease-in-out; /* Border renk geçişi */
}

.form-group input:focus {
    border-color: #a00000; /* Focus olduğunda border rengini kırmızı yap */
    outline: none; /* Outline'ı kaldır */
}

.login-button {
    width: 100%;
    padding: 15px;
    background-color: #a00000; /* Buton rengi */
    color: white;
    border: none;
    border-radius: 6px; /* Buton köşe yuvarlama */
    font-size: 18px; /* Buton font boyutu */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hover efekti */
}

.login-button:hover {
    background-color: #800000; /* Hover durumunda buton rengini koyulaştır */
}

.login-container a {
    text-align: center;
    display: block;
    margin-top: 15px;
    color: #a00000; /* Link rengi */
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}
