/* CreateEvent.css */
.create-event-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff; /* Arka plan rengi */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 28px; /* Başlık boyutu */
    color: #333; /* Başlık rengi */
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px; /* Form elemanları arasındaki boşluk */
}

.form-group label {
    font-size: 14px;
    color: #666; /* Etiket rengi */
    display: block;
    margin-bottom: 8px; /* Etiket ile input arasındaki boşluk */
}

.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9; /* Arka plan rengi */
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out; /* Border renk geçişi */
}

.form-group input:focus, .form-group textarea:focus, .form-group select:focus {
    border-color: #a00000; /* Focus durumunda border rengi */
    outline: none; /* Outline'ı kaldır */
}

textarea {
    resize: vertical; /* Yalnızca dikeyde büyütülebilir */
}

.create-event-button {
    width: 100%;
    padding: 15px;
    background-color: #a00000; /* Buton rengi */
    color: white;
    border: none;
    border-radius: 6px; /* Buton köşe yuvarlama */
    font-size: 18px; /* Buton font boyutu */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hover efekti için geçiş */
}

.create-event-button:hover {
    background-color: #800000; /* Hover durumunda buton rengi */
}

.create-event-container a {
    text-align: center;
    display: block;
    margin-top: 15px;
    color: #a00000; /* Link rengi */
    text-decoration: none;
}

.create-event-container a:hover {
    text-decoration: underline;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}
